@model Article

<div class="card radius-15">
	<div class="card-body">
		<h5 class="card-title">@Model.Title</h5>
		<h6 class="card-subtitle mb-2">@Model.Author</h6>
		<h6 class="card-subtitle mb-2">@Model.Subject</h6>
		<p class="text-justify">@Html.Raw(Model.Description)</p>
		<p class="text-justify">@Model.CreatedDate.ToString("yyyy/MM/dd")</p>
	</div>
</div>